.bg-main {
  background-image:url('/assets/final_destination.jpg');
  background-position:center;
  background-size:cover;
}

progress{
  color:rgb(55, 206, 55);
}

.title {
  font-size:10vh;
  color:white;
  text-shadow:2px 2px black;
}

.titleImage {
  max-height:150px;
  max-width:100vw;
  object-fit: contain;
}
.mario {
  max-height:275px;
  width:auto;
}

.hand {
  max-height:300px;
  width:auto;
  object-fit: contain;
}

.card{
border:0;
background-color:transparent;
margin-bottom:5vh;
}

#hand {
  height:20vh;
}

.healthbar {
  height:3vh;
  width:15vh;
  border:3px solid black;
}